 @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
	background-color: #f2f2f2;
	font-size: 16px;
	font-weight: 300;
	color: #555;
	margin-top: 70px;
}

.headings {
	font-family: 'Press Start 2P', cursive;
	font-weight: 300;
	color: #333;
	text-align: center;
	text-decoration: none; 
	
}


body {
	background-color: black;
}

.centered {
        width: %100;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
}

.main_menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;
	width: 640px;
	height: 480px;
	background-image: url(../img/background.png); 
}

.item {
	display: flex;
	background-color: black;
	width: 320px;
	height: 240px;
	align-items: center;
	justify-content: center;
}

.item:hover .headings {
	color: #ffff1a;
	font-weight: 900;
	text-shadow: black 0 0 3px;
	background-color:transparent;
}

.item:hover {
	background-color:transparent;
}

.description {
	width: 640px;
	height: 480px;
	color: #ffff1a;
	background-color: black;
}