{% extends 'game\base.html' %}	
{% block content %}
<div class="description">
	<h3 class="headings">>Setup</h3>
		Ask everyone to join a conference in Zoom, Discord, Skype or whatever you want. Create a new game and tell each player the game name and password. Ask them to join the game.
	<h3 class="headings">>Playing</h3> 
		Start the game when all players will be ready. Ask them to think of a famous person and write his name on available player.  Go around and have a player ask the “yes/no” question to the group. The goal is for each player to successfully guess the person written against his name. If the player does not guess correctly, the next person gets to ask a question.  Continue play until everyone successfully guesses their name, or until time runs out. Repeat while u have a fun.
</div>
{% endblock %}
