{% extends 'game\base.html' %}	
{% block content %}
<div class="description">
	<h3 class="headings">>Setup</h3>
		Ask everyone to form a circle. Hand a post-it note and a pen to each player. Tell each player to write a famous person on the post-it note.
	<h3 class="headings">>Playing</h3> 
		Have each player stick a post-it note on a nearby person, with the name of the person showing.  Go around the room and have a player ask the “yes/no” question to the group.  The goal is for each player to successfully guess the person written on their forehead.  If the player does not guess correctly, the next person gets to ask a question.  Continue play until everyone successfully guesses their name, or until time runs out.
</div>
{% endblock %}